.App {
  font-family: Arial, sans-serif;
  background-image: url("images/notepad4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #fff;
  
}

.container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 45%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column h2 {
  text-align: center;
}

.item-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.item-list button {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 7px 10px 5px;
  margin-top: 25px;
  margin-left: 10px;
}

.item-list button:hover {
  background-color: black;
  border-color: black;
}

.item-list li {
  padding: 8px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 25px;
  background-color: darkslategray;
}

.item-list li:hover {
  background-color: darkslategray;
}

.form-group {
  margin-top: 20px;
}

.form-group input[type="text"] {
  width: 80%;
  padding: 8px;
  margin-right: 10px;
}

.form-group button {
  padding: 8px 30px;
}
